body {
    font-family: sans-serif;
}

#main {
    margin: 0 8px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.subtitle {
    font-size: 1rem;
    margin-top: 0;
}

form {
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 1.5rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
}

.form-check-label {
    margin-bottom: 0;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

form,
.status {
    max-width: 600px;
}

.btn-primary {
    padding: 1rem 4rem;
}

.status>div {
    padding: 5px 0;
}

progress {
    vertical-align: middle;
}

.links a {
    display: inline-block;
    margin: 0 5px 0 0;
}

.table {
    border-collapse: collapse;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}

.table td,
.table th {
    padding: .75rem;
}

.difficulties {
    line-height: 1em;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    margin: .15em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

span.badge.is-easy {
    color: #fff;
    background-color: #3cb371;
}

span.badge.is-normal {
    color: #fff;
    background-color: #59b0f4;
}

span.badge.is-hard {
    color: #fff;
    background-color: tomato;
}

span.badge.is-expert {
    color: #fff;
    background-color: #bf2a42;
}

span.badge.is-expertplus {
    color: #fff;
    background-color: #8f48db;
}

.alert {
    padding: .75rem 1.25rem;
    border: 1px solid light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, .5));
    border-radius: .25rem;
}

.alert-danger {
    background-color: light-dark(#f8d7da, #310003);
}

.result-checkbox {
    width: 2rem;
    height: 2rem;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-right {
    text-align: right !important;
}

.text-muted {
    color: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, .5)) !important;
}

.form-control {
    border: 1px solid light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, .5));
}

hr {
    border: 0;
    border-top: 1px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, .1));
}

.wrap-cell {
    overflow-wrap: anywhere;
}