body {
}

form {
    max-width: 600px;
}

progress {
    vertical-align: middle;
}

.links a {
    display: inline-block;
    margin: 0 5px 0 0;
}

.subtitle {
    margin-top: -0.375rem;
}

span.badge.is-easy {
    color: #fff;
    background-color: #3cb371;
}

span.badge.is-normal {
    color: #fff;
    background-color: #59b0f4;
}

span.badge.is-hard {
    color: #fff;
    background-color: tomato;
}

span.badge.is-expert {
    color: #fff;
    background-color: #bf2a42;
}

span.badge.is-expertplus {
    color: #fff;
    background-color: #8f48db;
}
